.stage--min {
  @extend %minimise;
  @extend %transparent;
  @extend %transition--opacity;
  box-shadow: rgba($color-black,.1) 0 0 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.stage--max {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: z("default");

  .centered {
    @extend %centered;
  }

}

.stage__child {

  &.active {
    @include border;
    box-shadow: rgba($color-black,.1) 0 0 10px;
    cursor: pointer;
    z-index: z("always-on-top");
  }
}

.stage-audio-only {
  background: $color-audio-only__background url(../images/audio_avatar.png) center center no-repeat;

  figure,
  video {
    display: none;
  }
}
