<header class="form__header">
    <h2 class="form__heading" translate>Wait! You can't go here just yet.</h2>
</header>

<p>This Pexip Infinity client is supported in Google Chrome (Desktop or Android) 27 or higher, and Firefox 20 and higher. Unfortunately your browser doesn't yet have what it takes to support Pexip Infinity. However, the clever engineers at Pexip are working
    hard on a solution that will allow you to use other browsers such as Explorer and Safari - coming soon to a computer near you!</p>
<p>For now, download a supported browser from here:
    <ul>
        <li><a href="http://google.com/chrome">Chrome (latest)</a>
        </li>
        <li><a href="http://mozilla.org/firefox">Firefox (latest)</a>
        </li>
    </ul>
</p>
<p>Or download the Infinity Connect desktop client from <a href="http://www.pexip.com/download-infinity-connect">pexip.com</a>
<!-- <p>Or download the Infinity Connect desktop client:
    <ul>
        <li><a href="./#/download">Downloads</a>
        </li>
    </ul>
</p> -->
