.video {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.centered {
    @extend %centered
  }
}

video {
  &::-webkit-media-controls,
  &::-webkit-media-controls-enclosure {
    display:none !important;
  }
}
